@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.stepper {
  position: relative;
  margin-bottom: 50px;
}

.stepper::before {
  content: "";
  height: 2px;
  background-color: #664de5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.stepper.S0::before {
  width: 20%;
}

.stepper.S1::before {
  width: 50%;
}

.stepper.S2::before {
  width: 80%;
}

.stepper.S3::before {
  width: 100%;
}

.stepper::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #e2e8f0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -2;
}
