@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #151b28;
  color: #664de5;
  color: #828897;
  color: #858fa3;
  color: #8b97b1;
  color: #bec4d3;
  color: #eaeef5;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
