@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #151b28;
  color: #664de5;
  color: #828897;
  color: #858fa3;
  color: #8b97b1;
  color: #bec4d3;
  color: #eaeef5;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.stepper {
  /* position: relative; */
  margin-bottom: 60px;
}

/* .stepper::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #664de5;
  background: linear-gradient(to right, red 5%, black 95%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
} */

.circle::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #eaeef5;
  position: absolute;
  /* left: 0; */
  right: 0;
  z-index: -1;
}

.circle.active::before {
  background-color: #664de5;
}
